@font-face {
    font-family: 'HelveticaNeueCondensedBold';
    src: url('../fonts/HelveticaNeueCondensedBold.eot');
    src: local('HelveticaNeueCondensedBold'), url('../fonts/HelveticaNeueCondensedBold.woff') format('woff'), url('../fonts/HelveticaNeueCondensedBold.ttf') format('truetype');
}
@import url(http://fonts.googleapis.com/css?family=News+Cycle:700);
html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    /* margin: 15px auto 0; */margin: 50px auto 0;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
    background-color: #ffffff;
    box-shadow: 0 0 15px #888;
    -webkit-box-shadow: 0px 0px 15px #888;
    -moz-box-shadow:    0px 0px 15px #888;
    /*width: 990px;*/
    position: relative;
}
/* #wrap .container {
   background-color: #FFFFFF;
   min-height: 100%;
   height: auto !important;
} */
/* Uncomment when there is a skin running */
#wrap .container {
   background-color: #FFFFFF;
   min-height: 100%;
   height: auto !important;
   margin-top: 0;
}
#banner-container{
    margin-top: 15px;
    margin-bottom: 5px;
    min-height: 90px;
}
/* Set the fixed height of the footer here */
.footer .container {
    padding: 10px;
    min-height: inherit;
    box-shadow: 5px -1px 5px #BBB, -5px -1px 5px #BBB;
}
.footer {
    min-height: 60px;
    margin-top:20px;
    /*width: 990px;*/
    margin: auto;
}
.apponly {
    display: none;
}
div.logo-footer {
    margin-bottom: 20px;
}
#top-navigation.navbar-default {
    box-shadow: none;
    border: 0;
    background: none;
}
#top-navigation.navbar.navbar-fixed-top div.search.homesearch{
    position: relative;
    top: -10px;
}
@media all and (min-width: 768px) {
    #top-navigation.navbar.navbar-fixed-top {
        background-color: #00A1DC;
        border-bottom: 1px solid #e7e7e7;
    }
    .navbar-default .navbar-nav>li>a {
        color: #FFF;
    }
    .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
        color: #EEEEEE;
        background-color: transparent;
    }
}
.navbar-default .navbar-nav>.dropdown>a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar{
    margin-bottom: 0;
    min-height: 47px;
}
.home .navbar{
    margin-bottom: 10px;
}
#top-navigation .navbar-collapse{
    padding: 0;
}
#top-navigation.navbar-fixed-top .navbar-collapse{
    text-align: center;
    margin-bottom: -7px;
}
@media (min-width: 768px) {
    #top-navigation .navbar-brand {
        display: none;
    }
}
@media (max-width: 991px) {
    #top-leaderboard{
        display: none;
    }
    .breadcrumb {
        display: none;
    }
    #mobile-top-leaderboard{
        min-height: 40px;
        display: block;
        margin-bottom: 15px;
        margin-top: 25px;
    }
}
@media (min-width: 991px) {
    #mobile-top-leaderboard{
        display: none;
    }
}
#top-navigation .navbar-toggle {
    position: absolute;
    top: 5px;
    right: 0%;
    background: #444;
}
#top-navigation.navbar-fixed-top ul li.active a{
    font-weight: 900;
}
.nav-tabs{
    border: 0;
    display: inline-block;
    margin-right: -3px;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: 0px solid #fff;
    border-radius:0;
}
.nav .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
    margin-top: 0px !important;
}
.nav.nav-tabs li a,.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    padding: 6px 12px;
    text-transform: uppercase;
    background: #00A1DC;
}
.nav.nav-tabs ul.dropdown-menu li a{
    background: #ffffff;
    color:#333333;
}
#top-navigation div.search.homesearch{
    display: inline-block;
    position: relative;
    top: 1px;
    width: 20%;
}
.nav>li>a:hover, .nav>li>a:focus {
    background: #00b1f0;
}
#top-navigation .navbar-nav {
    margin: 0 auto;
    text-align: left;
    display: inline-block;
    float: none;
}
.footer .menu-footer>li>a{
    padding: 0 15px;
}
.footer .menu-footer>li>a:hover>span,.menu-footer>li>a:focus>span{
    border-bottom: none;
}
.footer .menu-footer>li>a>span{
    border-bottom: rgba(255,255,255,0.3) 2px solid;
}
.footer .menu-footer li:first-child a{
    padding-left: 0px;
}
.footer .menu-footer li:first-child{
    border-left: none;
}
.footer .menu-footer li{
    border-left: rgba(255,255,255,0.3) 2px solid;
    display: inline-block;
}
.footer .menu-footer-nav {
    margin-left: 20px;
}
.footer .menu-footer-nav li{
    list-style-image: url(images/list-arrow.png);
    display: list-item;
}
.footer .menu-footer-nav li:first-child{
    display: none;
}
.footer .menu-footer-nav>li>a{
    padding: 10px;
}
.social-icons {
    text-align: center;
}
.social-icons h3{
    margin-bottom: 25px;
}
.fa {
    margin: 5px;
}
.footer-email-link {
    margin-top: 25px;
    display: block;
}
.footer .row {
    padding: 10px 0;
}
.sidebar .module.row:first-child {
    border: none;
}
.sidebar .module.row {
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    border-top: 1px solid #eee;
}
/* Test */
.test {
    display: none;
}
.no-test{
    border: #ff0000 solid thin;
}
/* Component Section */
#component-body {
    margin: 0;
}
#component .article{
    -ms-box-shadow: 30px 0 60px -60px #000;
    -moz-box-shadow: 30px 0 60px -60px #000;
    -o-box-shadow: 30px 0 60px -60px #000;
    -webkit-box-shadow: 30px 0 60px -60px #000;
    box-shadow: 20px 0 40px -40px #000;
}
.gutter {
    display: block;
    height: auto;
    overflow: hidden;
    position: absolute;
    top: 140px;
    width: auto;
}
#gutter-left {
    left: -120px;
}
#gutter-right {
    right: -120px;
}
.no-margin {
    margin:0;
}
ul.menu-footer{
    display: inline-block;
}
/* Categories List */
.category-list ul.cat-list {
    padding: 0;
}
.category-list ul.cat-list li {
    display: inline-block;
    border: #2b3991 thin solid;
    padding: 4px;
    margin: 4px;
    background: #2b3991;
}
.category-list ul.cat-list li h3 {
    font-size: 18px;
    margin: 0;
    padding: 0;
}
.category-list ul.cat-list li h3 a {
    color: #ffffff;
}
.category-list ul.cat-list li:hover {
    background: rgba(43, 57, 145, 0.70);
}
.readmore {
    display: inline;
}
/* Modules */
.seperator div {
    background: url(../images/seperator.png) no-repeat;
    position: absolute;
    width: 6px;
}
.seperator div.first {
    height: 50px;
    background-position: 0 0;
    left: -6px;
    top: -5px;
}
.seperator div.last {
    height: 50px;
    background-position: 100% 100%;
    right: -6px;
    top: -7px;
}
.seperator{
    margin: 15px 0;
    height: 38px;
    max-height: 38px;
    padding: 3px;
}
.seperator p {
    margin: 0;
    height: 32px;
}
.article-spacer-left{
    float: left;
    margin-top: 283px;
}
.article-spacer-right{
    float:right;
    margin-top: 283px;
}
.in-article.left {
    float: left;
    max-width: 115px;
    margin: 0px 20px 0 15px;
}
.in-article{
    clear: both;
}
.in-article.right{
    float: right;
    margin: 0 15px 20px 20px;
}
.-in-article {
    background-color: #e4e4e4;
    padding: 10px;
}
.-in-article h3{
    font-size: 13px;
    font-weight: bold;
    margin-top: 0;
    padding-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid #999;
}
.-in-article ul {
    margin:0;
    padding:0;
}
.-in-article ul li {
    list-style: none;
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px dashed #f3f3f3;
}
.-in-article ul li a{
    color: #000;
    font-size: 12px;
}
#latest-news-in-article-right {
    overflow: auto;
    height: auto;
}
hr{
    border-bottom: #f7f7f7 solid 5px;
}
.top.row{
    padding-bottom: 20px;
}
.img-intro img{
    padding: 2px;
    border: 1px #AAAAAA solid;
    width: 170px;
}
.view-category .blog span.row-separator{
    clear:both;
}
.view-category .blog article {
    border-bottom: 1px solid #eee ;
    padding-bottom: 30px;
    margin-top: 30px;
}
nav{
    font-family: 'News Cycle', sans-serif;
    font-weight: 700;
}
.blog.view-category .blog .article-content{
    margin-left: -20px;
}
.createdby{
    text-decoration: underline;
}
/* Helpers */
.footer .hide-in-footer {
    display: none !important;
}
ul.pagination{
    margin-top: 10px;
}
.pagination {
    margin-bottom: 0px;
    text-align: center;
}
.search h1{
    margin-top: 0px;
}
.phrases-box {
    border-bottom: 1px solid #e5e5e5;
}
.phrases .phrases-box label{
    display: inline-block;
    margin: 20px 0 10px 0;
    padding-right: 50px;
}
.ordering-box {
    margin: 20px 0;
}
.result-controls,.result-stats {
    display:inline-block;
    padding-right: 50px;
}
.search .counter{
    padding-right: 96px;
}
.search .result-created {
    font-size: 12px;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f3f3f3;
}
/* overrides */
.view-article .features  .article-info dd{
    font-size: 16px;
    font-weight: bold;
}
.reb-feature{
    font-family: "HelveticaNeueCondensedBold";
    font-size: 28px;
    color: #c1c1c1;
}
.view-category .blog article.leading-0{
    margin-top:0 ;
}
div.in-article.article-id-7169,div.in-article.article-id-7180 {
    display:none;
}
.tag-category ul.category {
    list-style: none;
}
.layout-spbasevideo p.readmore a {
    background: url(/templates/spbase/css/images/video-icon.png) no-repeat 0 50%;
    padding-left: 35px;
    margin-left: 10px;
}
section.video.blog .play{
    width: 70%;
    height: 100%;
}
#sidr-mobile-menu {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    visibility: visible;
}

.sidr {
    transition:all 0.3s;
    -moz-transition: all 0.3s; /* Firefox 4 */
    -webkit-transition:all 0.3s; /* Safari and Chrome */
    -o-transition:all 0.3s; /* Opera */
}

/* Text ticker in content */
.tickercontainer { /* the outer div with the black border */
margin: -6px 0 3px 0;
background: url(images/reb-ticker.jpg) no-repeat #fff center left;
height: 30px;
padding: 4px 0 0 132px;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
image-rendering: -moz-crisp-edges;         /* Firefox */
        image-rendering:   -o-crisp-edges;         /* Opera */
        image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
        image-rendering: crisp-edges;
        -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
overflow: hidden; 
}
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
position: relative;
left: 10px;
top: 4px;
width: 718px;
overflow: hidden;
}
ul.newsticker { /* that's your list */
position: relative;
left: 750px;
font: bold 10px Verdana;
list-style-type: none;
margin: 0;
padding: 0;

}
ul.newsticker li {
float: left; /* important: display inline gives incorrect results when you check for elem's width */
margin: 0;
padding: 0;
background: #fff;
}
ul.newsticker a {
white-space: nowrap;
padding: 0;
color: #282a79;
font: bold 12px Verdana;
margin: 0 50px 0 0;
text-decoration: none;
} 
ul.newsticker span {
margin: 0 10px 0 0;
} 